* {
    font-family: Bodo;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.history-container {
    flex: 0 0 35%;
}

.grille-container {
    flex: 0 0 40%;
    padding-left: 10px;
    display: -moz-stack;
}

.cote-droit {
    display: -moz-stack;
}

.other-container {
    padding-left: 0px;
    padding-top : 100px;
    flex: 0 0 30%;
}

.classement{
    padding-top : 0px;
    padding-left: 0px;
    flex: 0 0 0%;
}

.custom-dialog{
    width : 600px;
}